/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 600px;
}

.myimgstyle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

